@font-face {
	font-family: open-sans;
	src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
	font-family: open-sans;
	font-weight: bold;
	src: url("fonts/OpenSans-Bold.ttf");
}

body {
	margin: 0px;
	font-family: open-sans;
	background-color: #26596A;
}

#company-name {
	background: grey;
	color: white;
	font-size: 20em;
	text-align: right;
	display: flex; 
}

h1 {
	color : #022835;
	margin-left: 5%;
}

h3 {
	margin-left: 7%;
	color: #FFBF00;	
}

p {
	margin-left: 12%;
	margin-right: 12%;
	color : white;
}

#container {
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
}

#slide {
	background-image: url("img/Koala_big.jpg");
	background-position: center;
	background-size: cover;
	height: 100vh;
}

#slide-logo {
	position: relative;
	top: 30px;
	left: 10px;
	display: inline-flex;
	align-items: center;
}

#slide-logo-image {
	height: 125px;
}

#slide-logo-label {
	color: white;
	font-weight: bold;
	font-size: 49px;
}